/* 1)  gnearal sibling selector (~) : target all the given tags sibling 
        to specific tag and also after the specific tag
        ex: target all the p tags which are general sibling of span tag  and after span tag*/
/* span ~ p{
    color: blue;
} */

        /* taget all the .para class element which are sibling of the span :target */
/* span ~ .para{
    color: brown;
} */

/* h1 ~ .para,#para-1 , .title  ~ #para-2{
    color:green;
} */
/* {
    color: green;
} */


/* 2) adjacenet sibling (+) (a+b) : 
 it will select b tag which is right side adjacent siblin of a tag */
/* h1+p{
    color: darkorange;
} */

/* 3) child selector(>) 
        (a>b) it will select all the be tag which are immedialte child of b */
    /* div>p{
        color:hotpink;
        font-size: 50px;
    } */

/*  4) decendent selector (a space b)- selects all the decendent level of b child of a */
    div p{
        color: darkred;
        font-size: 50px;
        font-weight:900;
    }