*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/* *****nav section***** */
.navbar{
    display:flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: #fff;
    align-items: center;
    width: 100%;
    height: 65px;
    padding: 0 40px;
    position: fixed;
    z-index: 1000;
    top: 0px;
}
.logo img{
    width: 10%;
}
.nav_content{
    display:flex;
    column-gap:45px;
    /* width:15%;
    justify-content: space-around; */
}
.nav_items a{
    text-decoration: none;
    color: #7bb1ff;
}

.container{
    /* margin-top: 65px; */
    position: relative;
    top: 65px;
}

/* *****home section***** */
.home_container{
    display: flex;
    justify-content: center;
    height: 360px;
}
.home_container .img, .home_container .home_content{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
}
.home_container .img img{
    width: 80%;
    height: 90%;
}
.home_content span{
    color: #7bb1ff;
}
.home_content h1{
    font-size: 40px;
    line-height: 80px;
}
/* ***about section**** */
.about_container{
    display: flex;
    justify-content: center;
    padding: 4% 0px;
    background-color:#bad8ff;
}
.about_container .frame, .about_container .about_content{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.about_container .about_content p{
    width: 80%;
}
/* skill section */
.skill_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4% 0px;
}
.skill_items{
    display: flex;
    justify-content: space-around;
    column-gap: 5%;
    padding: 2% 0px;
    flex-wrap: wrap;
    gap: 25px 1px;

}
.skill_items .item{
    border: 1px solid #bed8ff;
    padding: 10px 25px;
    color: #007ccf;
    border-radius: 8px;
    border-bottom: 6px solid #007ccf;
    width: 20%;
}
.skill_items .item:hover{
    background-color: rgb(93, 70, 175);
    color: white;
}